:root {
  --header-padding: 2rem 0;
  --content-padding: 0.2rem 0rem 1rem 0rem;
  --border-color: #e4e4e7;
  --title: 2rem;
  --content: 1.8rem;
  --icon-size: 2rem;
  --primary-color: #c8dc71;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.accordion-container {
  max-width: 800px; /* Increase max width */
  width: 100%;
  margin: 0 auto; /* Center the accordion container */
}

details {
  font-size: var(--title);
  margin: 0 auto;
  width: 100%;
  position: relative;
  border-bottom: 1px solid var(--border-color);
  transition: all 0.3s ease-in-out;
}

details:hover {
  opacity: 1;
}

summary {
  user-select: none;
  cursor: pointer;
  list-style: none;
  display: flex;
  align-items: center;
  padding: var(--header-padding);
}

summary:hover {
  text-decoration: none; /* Remove underline on hover */
}

summary:hover .accordion-title {
  color: #9505e3; /* Change color on hover */
}

.accordion-title {
  color: #151518;
  width: 90%;
  font-weight: bold; /* Make the title bold */
  font-style: italic; /* Make the title italic */
  transition: all 250ms ease-in-out;
}

.accordion-icon {
  opacity: 0.5;
  pointer-events: none;
  position: absolute;
  right: 1rem;
  transition: all 150ms ease-out;
}

.accordion-icon svg {
  width: var(--icon-size);
  height: var(--icon-size);
  transition: transform 0.3s ease-in-out;
}

.accordion-content {
  color: #3c3e47;
  padding: var(--content-padding);
  font-size: var(--content);
  font-weight: 400;
  line-height: 1.65;
}

/** Remove Marker */
summary::-webkit-details-marker {
  display: none;
}

/** Rotate Icon */
details[open] .accordion-icon svg {
  transform: rotate(180deg);
}

/* Media Queries for Responsiveness */
@media (max-width: 600px) {
  .accordion-container {
    padding: 0 20px;
  }

  .accordion-title {
    width: 75%;
  }

  .accordion-icon {
    right: 0.5rem;
  }
}